body {
  background-image: url("images/cool-colors.jpg");
  background-size: cover;
  height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  margin: 0;
}

hr {
  width: 75%;
  display: inline-block;
  border: 3px solid #7797b2;
}

/* Nav Bar */
.top-logo {
  height: 100px;
}

.navbar {
  padding: 0 5%;
  background-color: #fff;
}

.nav-item {
  padding-left: 50px;
}

/* Title Section */
#title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title .container-fluid {
  padding: 3% 10% 7%;
}

.top-container {
  height: 360px;
  position: relative;
}

.text-box {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-header {
  font-size: 4rem;
  font-weight: bold;
}

.title-text {
  line-height: 1.5;
  font-size: 2rem;
}

.skills-icon {
  padding: 0 5px;
}

/* Projects Section */
#projects .container-fluid {
  padding: 10% 5%;
}

.project-container {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5% 7%;
}

.projects-title-box {
  color: #7797b2;
  padding: 5% 15%;
  text-align: left;
}

.big-header {
  font-size: 2.5rem;
  font-weight: 500;
}

.projects-description {
  color: #000;
}

.project-link {
  text-decoration: none;
  color: #7797b2;
}

.project-link:hover {
  color: #000;
}

.project-column {
  margin-top: 5%;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .project-img {
  opacity: .05;
}

.card:hover .project-text {
  visibility: visible;
}

.project-text {
  color: #fff;
  visibility: hidden;
  padding: 20% 5% 5%;
}

.description-text {
  padding-bottom: 50px;
  position: relative;
}

.footer-text {
  padding-top: 25px;
  position: absolute;
  bottom: 5%;
}

#contact {
  padding: 5% 12%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-box {
  background-color: #fff;
  height: 275px;
  padding: 7% 10%;
}

.contact-text {
  color: #7797b2;
  font-size: 1.75rem;
}

.footer-hr {
  width: 25%;
  border-style: dotted none none;
  border-width: 10px;
  background-color: #fff;
}

.info-box {
  color: #000;
  font-size: 1rem;
  padding: 20px;
  display: grid;
}

.email-link {
  color: #000;
  font-size: 1.25rem;
  text-decoration: none;
  padding-bottom: 10px;
}

.email-link:hover {
  color: #7797b2;
  font-size: 1.05rem;
}

.contact-logo {
  color: #000;
}

.contact-logo:hover {
  color: #7797b2;
}

/* Footer Section */
.footer {
  height: 55px;
  background-color: #fff;
  padding: 0 5%;
}

.footer-logo {
  float: left;
  height: 50px;
  padding-top: 5px;
}

.copyright-text {
  font-size: .8rem;
  text-align: right;
  padding-top: 18px;
}


@media (max-width: 990px) {
  .navbar-toggler-icon {
    width: 100px;
    height: 100px;
  }

  .navbar-nav {
    font-size: 2.75rem;
  }

  .top-container {
    height: 800px;
  }

  .title-header {
    font-size: 6.5rem;
  }

  .title-text {
    font-style: 4.5rem;
  }

  .big-header {
    font-size: 3.5rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .description-text {
    font-size: 1.5rem;
  }

  .contact-title {
    text-align: center;
    font-size: 3rem;
  }

  .contact-text {
    text-align: center;
  }

  .contact-box {
    height: 500px;
  }

  .email-link {
    font-size: 1.5rem;
  }

}
